[submodule "scripts"]
	path = scripts
	url = git@github.com:juliansah10-07/belajar-git-remote.git
[submodule "scripts-js"]
	path = scripts-js
	url = git@github.com:juliansah10-07/belajar-git-submodule.git
